

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>“MY FIRST HOVER/IMPRESS PRESENTATION” &mdash;   documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  

  
    <link rel="stylesheet" href="../../../_static/theme_overrides.css" type="text/css" />
  

  
        <link rel="index" title="Index"
              href="../../../genindex.html"/>
        <link rel="search" title="Search" href="../../../search.html"/>
    <link rel="top" title="  documentation" href="../../../index.html"/> 

  
  <script src="../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../index.html" class="icon icon-home"> 
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul>
<li class="toctree-l1"><a class="reference internal" href="../../../design/index.html">Design</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../index.html">Tools</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../../index.html"></a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../../index.html">Docs</a> &raquo;</li>
      
    <li>&#8220;MY FIRST HOVER/IMPRESS PRESENTATION&#8221;</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../_sources/tools/ReST/template/hover_ppt.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="template-for-restructured-text">
<h1><a class="toc-backref" href="#id2">Template for reStructured Text</a><a class="headerlink" href="#template-for-restructured-text" title="Permalink to this headline">¶</a></h1>
<div class="contents topic" id="table-of-contents">
<p class="topic-title first">Table Of Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#template-for-restructured-text" id="id2">Template for reStructured Text</a><ul>
<li><a class="reference internal" href="#impress-fields" id="id3">IMPRESS FIELDS</a></li>
<li><a class="reference internal" href="#block-table" id="id4">BLOCK TABLE</a><ul>
<li><a class="reference internal" href="#csv-table-block" id="id5">CSV-TABLE BLOCK</a></li>
<li><a class="reference internal" href="#section-blocks" id="id6">SECTION BLOCKS</a><ul>
<li><a class="reference internal" href="#link-description" id="id7">LINK DESCRIPTION</a></li>
</ul>
</li>
<li><a class="reference internal" href="#module-3" id="id8">MODULE 3</a></li>
</ul>
</li>
<li><a class="reference internal" href="#list-blocks" id="id9">LIST BLOCKS</a></li>
<li><a class="reference internal" href="#math-blocks" id="id10">MATH BLOCKS</a></li>
<li><a class="reference internal" href="#sidebar" id="id11">SIDEBAR</a></li>
<li><a class="reference internal" href="#code-block" id="id12">CODE BLOCK</a></li>
<li><a class="reference internal" href="#python-code-and-plots" id="id13">PYTHON CODE and PLOTs</a></li>
<li><a class="reference internal" href="#image-blocks" id="id14">IMAGE BLOCKS</a></li>
<li><a class="reference internal" href="#end" id="id15">END</a></li>
</ul>
</li>
</ul>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">This is a template file for  ReStructured text</p>
</div>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">auto-console:</th><td class="field-body">true</td>
</tr>
<tr class="field-even field"><th class="field-name">skip-help:</th><td class="field-body">true</td>
</tr>
<tr class="field-odd field"><th class="field-name">title:</th><td class="field-body">My Hovercraft demo</td>
</tr>
</tbody>
</table>
<div class="section" id="impress-fields">
<h2><a class="toc-backref" href="#id3">IMPRESS FIELDS</a><a class="headerlink" href="#impress-fields" title="Permalink to this headline">¶</a></h2>
<p>impress.js fields</p>
<blockquote>
<div><ul class="simple">
<li>data-transition-duration: The time it will take to move from one slide to another. Defaults to 1000 (1 second). This is only valid on the presentation as a whole.</li>
<li>data-perspective: Controls the ?perspective? in the 3d effects. It defaults to 500. Setting it to 0 disables 3D effects.</li>
<li>data-x: The horizontal position of a slide in pixels. Can be negative.</li>
<li>data-y: The vertical position of a slide in pixels. Can be negative.</li>
<li>data-scale: Sets the scale of a slide, which is what creates the zoom. Defaults to 1. A value of 4 means the slide is four times larger. In short: Lower means zooming in, higher means zooming out.</li>
<li>data-rotate-z: The rotation of a slide in the x-axis, in degrees. This will cause the slide to be rotated clockwise or counter-clockwise.</li>
<li>data-rotate: The same as data-rotate-z.</li>
<li>data-rotate-x: The rotation of a slide in the x-axis, in degrees. This means you are moving the slide in a third dimension compared with other slides. This is generally cool effect, if used right.</li>
<li>data-rotate-y: The rotation of a slide in the x-axis, in degrees.</li>
<li>data-z: This controls the position of the slide on the z-axis. Setting this value to -3000 means it?s positioned -3000 pixels away. This is only useful when you use data-rotate-x or data-rotate-y, otherwise it will only give the impression that the slide is made smaller, which isn?t really useful.</li>
</ul>
</div></blockquote>
</div>
<hr class="docutils" />
<div class="section" id="block-table">
<h2><a class="toc-backref" href="#id4">BLOCK TABLE</a><a class="headerlink" href="#block-table" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><table border="1" class="docutils">
<colgroup>
<col width="34%" />
<col width="34%" />
<col width="31%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Header 1</th>
<th class="head">Header 2</th>
<th class="head">Header 3</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>body row 1</td>
<td>column 2</td>
<td>column 3</td>
</tr>
<tr class="row-odd"><td>body row 2</td>
<td colspan="2">Cells may span columns.</td>
</tr>
<tr class="row-even"><td>body row 3</td>
<td rowspan="2">Cells may
span rows.</td>
<td rowspan="2"><ul class="first last simple">
<li>Cells</li>
<li>contain</li>
<li>blocks.</li>
</ul>
</td>
</tr>
<tr class="row-odd"><td>body row 4</td>
</tr>
</tbody>
</table>
</div></blockquote>
<hr class="docutils" />
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">data-y:</th><td class="field-body"><p class="first">r2000</p>
</td>
</tr>
<tr class="field-even field"><th class="field-name">data-rotate:</th><td class="field-body"><p class="first">90</p>
<table border="1" class="last docutils">
<colgroup>
<col width="14%" />
<col width="86%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">col 1</th>
<th class="head">col 2</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>1</td>
<td>Second column of row 1.</td>
</tr>
<tr class="row-odd"><td>2</td>
<td>Second column of row 2.
Second line of paragraph.</td>
</tr>
<tr class="row-even"><td>3</td>
<td><ul class="first last simple">
<li>Second column of row 3.</li>
<li>Second item in bullet
list (row 3, column 2).</li>
</ul>
</td>
</tr>
<tr class="row-odd"><td></td>
<td>Row 4; column 1 will be empty.</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<hr class="docutils" />
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">data-rotate:</th><td class="field-body">90</td>
</tr>
</tbody>
</table>
<div class="section" id="csv-table-block">
<h3><a class="toc-backref" href="#id5">CSV-TABLE BLOCK</a><a class="headerlink" href="#csv-table-block" title="Permalink to this headline">¶</a></h3>
<table border="1" class="docutils" id="id1">
<caption><span class="caption-text">a title</span><a class="headerlink" href="#id1" title="Permalink to this table">¶</a></caption>
<colgroup>
<col width="40%" />
<col width="40%" />
<col width="20%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">first header</th>
<th class="head">second header</th>
<th class="head">third header</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>item 1</td>
<td>item 2</td>
<td>3</td>
</tr>
<tr class="row-odd"><td>item 4</td>
<td>item 5</td>
<td>5</td>
</tr>
</tbody>
</table>
<hr class="docutils" />
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">data-rotate:</th><td class="field-body">90</td>
</tr>
</tbody>
</table>
</div>
<div class="section" id="section-blocks">
<h3><a class="toc-backref" href="#id6">SECTION BLOCKS</a><a class="headerlink" href="#section-blocks" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div>BLOCK DESCRIPTIONS</div></blockquote>
<hr class="docutils" />
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">data-scale:</th><td class="field-body">1</td>
</tr>
</tbody>
</table>
<div class="section" id="link-description">
<h4><a class="toc-backref" href="#id7">LINK DESCRIPTION</a><a class="headerlink" href="#link-description" title="Permalink to this headline">¶</a></h4>
<blockquote>
<div>Here is my <a class="reference external" href="https://github.com/vadivelmurugank/picothing">github link</a></div></blockquote>
<hr class="docutils" />
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">data-scale:</th><td class="field-body">2</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="section" id="module-3">
<h3><a class="toc-backref" href="#id8">MODULE 3</a><a class="headerlink" href="#module-3" title="Permalink to this headline">¶</a></h3>
</div>
</div>
<div class="section" id="list-blocks">
<h2><a class="toc-backref" href="#id9">LIST BLOCKS</a><a class="headerlink" href="#list-blocks" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><ol class="arabic">
<li><p class="first">LIST1</p>
<p>PARAGRAPH 1</p>
</li>
<li><p class="first">LIST 2</p>
<p>PARAGRAPH 2</p>
</li>
<li><p class="first">LIST 3</p>
<p>PARAGRAPH 3</p>
</li>
</ol>
</div></blockquote>
<hr class="docutils" />
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">data-scale:</th><td class="field-body">2</td>
</tr>
</tbody>
</table>
</div>
<div class="section" id="math-blocks">
<h2><a class="toc-backref" href="#id10">MATH BLOCKS</a><a class="headerlink" href="#math-blocks" title="Permalink to this headline">¶</a></h2>
<p>Firt Math Equation <span class="math">\(\alpha &gt; \beta\)</span></p>
<p>Complex math <span class="math">\(n_{\mathrm{offset}} = \sum_{k=0}^{N-1} s_k n_k\)</span></p>
<div class="math">
\[n_{\mathrm{offset}} = \sum_{k=0}^{N-1} s_k n_k\]</div>
<div class="math">
\[a^2+ b^2= c^2\]</div>
<div class="math">
\[\begin{split}\begin{eqnarray}
  a^2+ b^2= c^2\\
  a^2+ b^2= c^2\\
  a^2+ b^2= c^2\\
\end{eqnarray}\end{split}\]</div>
</div>
<hr class="docutils" />
<div class="section" id="sidebar">
<h2><a class="toc-backref" href="#id11">SIDEBAR</a><a class="headerlink" href="#sidebar" title="Permalink to this headline">¶</a></h2>
<div class="sidebar">
<p class="first sidebar-title">Sidebar Title
     :subtitle: Optional Sidebar Subtitle</p>
<p class="last">Subsequent indented lines comprise
the body of the sidebar, and are
interpreted as body elements.</p>
</div>
</div>
<hr class="docutils" />
<div class="section" id="code-block">
<h2><a class="toc-backref" href="#id12">CODE BLOCK</a><a class="headerlink" href="#code-block" title="Permalink to this headline">¶</a></h2>
<div class="code python highlight-default"><div class="highlight"><pre><span></span><span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Hello World&quot;</span><span class="p">)</span>
</pre></div>
</div>
<div class="code text highlight-default"><div class="highlight"><pre><span></span><span class="n">This</span> <span class="ow">is</span> <span class="n">a</span> <span class="n">text</span> <span class="nb">format</span>
</pre></div>
</div>
<div class="code raw highlight-default"><div class="highlight"><pre><span></span><span class="n">This</span> <span class="ow">is</span> <span class="n">a</span> <span class="n">raw</span> <span class="nb">format</span>
</pre></div>
</div>
<div class="code c highlight-default"><div class="highlight"><pre><span></span><span class="n">void</span> <span class="n">c_function_code</span><span class="p">()</span>
<span class="p">{</span>
        <span class="n">printf</span><span class="p">(</span><span class="s2">&quot;C function code </span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<hr class="docutils" />
<div class="section" id="python-code-and-plots">
<h2><a class="toc-backref" href="#id13">PYTHON CODE and PLOTs</a><a class="headerlink" href="#python-code-and-plots" title="Permalink to this headline">¶</a></h2>
<div class="highlight-python" id="circlemc-py"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">numpy</span> <span class="kn">as</span> <span class="nn">np</span>
<span class="kn">from</span> <span class="nn">matplotlib.pyplot</span> <span class="kn">import</span> <span class="n">figure</span><span class="p">,</span> <span class="n">show</span>
<span class="kn">from</span> <span class="nn">matplotlib.patches</span> <span class="kn">import</span> <span class="n">Arc</span>
<span class="kn">from</span> <span class="nn">matplotlib.cm</span> <span class="kn">import</span> <span class="n">copper</span>

<span class="n">fig</span> <span class="o">=</span> <span class="n">figure</span><span class="p">()</span>
<span class="n">frame</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">)</span>
<span class="n">n</span> <span class="o">=</span> <span class="mi">2000</span>
<span class="n">x</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">random</span><span class="o">.</span><span class="n">random_sample</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
<span class="n">y</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">random</span><span class="o">.</span><span class="n">random_sample</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
<span class="n">radius</span> <span class="o">=</span> <span class="n">x</span><span class="o">**</span><span class="mi">2</span> <span class="o">+</span> <span class="n">y</span><span class="o">**</span><span class="mi">2</span>
<span class="n">In</span> <span class="o">=</span> <span class="p">(</span><span class="n">radius</span> <span class="o">&lt;=</span> <span class="mf">1.0</span><span class="p">)</span>
<span class="n">Out</span> <span class="o">=</span> <span class="p">(</span><span class="n">radius</span> <span class="o">&gt;</span> <span class="mf">1.0</span><span class="p">)</span>
<span class="n">frame</span><span class="o">.</span><span class="n">plot</span><span class="p">(</span><span class="n">x</span><span class="p">[</span><span class="n">In</span><span class="p">],</span> <span class="n">y</span><span class="p">[</span><span class="n">In</span><span class="p">],</span> <span class="s1">&#39;g.&#39;</span><span class="p">)</span>
<span class="n">frame</span><span class="o">.</span><span class="n">plot</span><span class="p">(</span><span class="n">x</span><span class="p">[</span><span class="n">Out</span><span class="p">],</span> <span class="n">y</span><span class="p">[</span><span class="n">Out</span><span class="p">],</span> <span class="s1">&#39;r.&#39;</span><span class="p">)</span>
<span class="n">arc</span> <span class="o">=</span> <span class="n">Arc</span><span class="p">((</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">),</span> <span class="mi">2</span><span class="p">,</span><span class="mi">2</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">,</span> <span class="mi">90</span><span class="p">)</span>
<span class="n">frame</span><span class="o">.</span><span class="n">add_patch</span><span class="p">(</span><span class="n">arc</span><span class="p">)</span>
<span class="n">frame</span><span class="o">.</span><span class="n">imshow</span><span class="p">([[</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">],[</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">]],</span> <span class="n">interpolation</span><span class="o">=</span><span class="s1">&#39;bicubic&#39;</span><span class="p">,</span> <span class="n">cmap</span><span class="o">=</span><span class="n">copper</span><span class="p">,</span>
             <span class="n">vmin</span><span class="o">=-</span><span class="mf">0.5</span><span class="p">,</span> <span class="n">vmax</span><span class="o">=</span><span class="mf">0.5</span><span class="p">,</span>
             <span class="n">extent</span><span class="o">=</span><span class="p">(</span><span class="n">frame</span><span class="o">.</span><span class="n">get_xlim</span><span class="p">()[</span><span class="mi">0</span><span class="p">],</span> <span class="n">frame</span><span class="o">.</span><span class="n">get_xlim</span><span class="p">()[</span><span class="mi">1</span><span class="p">],</span>
                     <span class="n">frame</span><span class="o">.</span><span class="n">get_ylim</span><span class="p">()[</span><span class="mi">0</span><span class="p">],</span> <span class="n">frame</span><span class="o">.</span><span class="n">get_ylim</span><span class="p">()[</span><span class="mi">1</span><span class="p">]),</span>
             <span class="n">alpha</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span>

<span class="n">frame</span><span class="o">.</span><span class="n">set_xlim</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">1</span><span class="p">)</span>
<span class="n">frame</span><span class="o">.</span><span class="n">set_ylim</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">1</span><span class="p">)</span>
<span class="n">frame</span><span class="o">.</span><span class="n">set_aspect</span><span class="p">(</span><span class="mf">1.0</span><span class="p">)</span>
<span class="n">show</span><span class="p">()</span>
</pre></div>
</div>
</div>
<hr class="docutils" />
<div class="section" id="image-blocks">
<h2><a class="toc-backref" href="#id14">IMAGE BLOCKS</a><a class="headerlink" href="#image-blocks" title="Permalink to this headline">¶</a></h2>
<a class="reference external image-reference" href="tulips.jpg"><img alt="Tulips" class="align-center" src="../../../_images/tulips.jpg" /></a>
</div>
<hr class="docutils" />
<div class="section" id="end">
<h2><a class="toc-backref" href="#id15">END</a><a class="headerlink" href="#end" title="Permalink to this headline">¶</a></h2>
</div>
</div>


           </div>
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright .

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../',
            VERSION:'',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>