

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>MY SLIDE TITLE &mdash;   documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../../genindex.html"/>
        <link rel="search" title="Search" href="../../../search.html"/>
    <link rel="top" title="  documentation" href="../../../index.html"/>
        <link rel="up" title="&lt;no title&gt;" href="index.html"/>
        <link rel="prev" title="Template for reStructured Text" href="template.html"/> 

  
  <script src="../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../index.html" class="icon icon-home"> 
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../../design/index.html">Design</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../python/index.html">PYTHON</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../GIT/index.html">Git Internals</a></li>
<li class="toctree-l1"><a class="reference internal" href="template.html">Template for reStructured Text</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">MY SLIDE TITLE</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#this-is-my-first-slide">This is my first slide</a></li>
<li class="toctree-l2"><a class="reference internal" href="#this-is-my-second-slide">This is my second slide</a></li>
<li class="toctree-l2"><a class="reference internal" href="#this-is-my-third-slide">This is my third slide</a></li>
<li class="toctree-l2"><a class="reference internal" href="#this-is-my-4th-slide">This is my 4th slide</a></li>
</ul>
</li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../../index.html"></a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">&lt;no title&gt;</a> &raquo;</li>
      
    <li>MY SLIDE TITLE</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../_sources/tools/ReST/template/slides.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="my-slide-title">
<h1>MY SLIDE TITLE<a class="headerlink" href="#my-slide-title" title="Permalink to this headline">¶</a></h1>
<div class="section" id="this-is-my-first-slide">
<h2>This is my first slide<a class="headerlink" href="#this-is-my-first-slide" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><ul>
<li><p class="first">It has, of course, items in it</p>
</li>
<li><p class="first">More than one item</p>
<blockquote>
<div><ol class="arabic simple">
<li>Numbered lists, too</li>
</ol>
</div></blockquote>
</li>
</ul>
<img alt="../../../_images/tulips.jpg" src="../../../_images/tulips.jpg" />
</div></blockquote>
</div>
<div class="section" id="this-is-my-second-slide">
<h2>This is my second slide<a class="headerlink" href="#this-is-my-second-slide" title="Permalink to this headline">¶</a></h2>
<p>rst2pdf can display code nicely:</p>
<blockquote>
<div><div class="highlight-python"><div class="highlight"><pre><span></span><span class="k">for</span> <span class="n">x</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">7</span><span class="p">):</span>
    <span class="k">print</span> <span class="s2">&quot;cute!&quot;</span>
</pre></div>
</div>
</div></blockquote>
</div>
<div class="section" id="this-is-my-third-slide">
<h2>This is my third slide<a class="headerlink" href="#this-is-my-third-slide" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><p>Also, you can use math!</p>
<div class="math">
\[\frac{2 \pm \sqrt{7}}{3}\]</div>
<p>That is <em>not</em> an image.</p>
</div></blockquote>
</div>
<div class="section" id="this-is-my-4th-slide">
<h2>This is my 4th slide<a class="headerlink" href="#this-is-my-4th-slide" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><p>Other features include:</p>
<ul class="simple">
<li>Images, including SVG</li>
<li>Tables</li>
<li>Font embedding (Type1 and TTF)</li>
<li>Extensible</li>
<li>Background (like this one)</li>
<li>Page transitions</li>
</ul>
</div></blockquote>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
      
        <a href="template.html" class="btn btn-neutral" title="Template for reStructured Text" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright .

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../',
            VERSION:'',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>